@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

#logo {
  color: #6070ff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.menu {
  color: #6070ff;
  font-size: 1.3rem;
}

.menu-list {
  display: none;
}

.mobile-nav {
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: 0.2s ease-in-out;
  background-color: rgba(96, 112, 255, 0.9);
	display: none;
}

.nav-toggle {
  display: flex;
  flex-direction: column;
}

.close-button {
  color: #fff;
  background-color: red;
  padding: 0px 7px; 
  float: right;
  margin: 20px; 
  margin-left: 89%;
}

.menu-list-mobile > li {
  list-style-type: none;  
}

.menu-list-mobile > li > a {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-image: url("./images/header-shapes.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
}

.greetings {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
}

.about-me {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  text-decoration: none;
}

.connect-me a {
  color: #7f8cff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.icon-group {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0%;
}

.icon {
  padding: 5px;
  margin-left: 0;
  color: #505f79;
  width: 19.99px;
}

.fa-brands {
  font-size: large;
}

.works {
  background-color: #e5e5e5;
  padding-top: 40px;
  padding-bottom: 40px;
}

.cards {
  padding: 10px 10px 30px 10px;
  border-radius: 16px;
  background-color: #fff;
  margin-top: 40px;
}

.cards img {
  width: 100%;
}

h1.title {
  font-size: 32px;
  font-weight: 700;
  color: #172b4d;
  margin-top: 20px;
}

.position {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.position .place {
  font-weight: 600;
  font-size: 13px;
  color: #344563;
}

.position .post-name {
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
  padding-left: 20px;
}

.position .post-year {
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
  padding-left: 20px;
}

p.description {
  font-weight: 400px;
  font-size: 15px;
  color: #344563;
}

.techs {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.techs .single-tech {
  color: #6070ff;
  font-weight: 500px;
  font-size: 12px;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 8px 12px;
  margin-right: 10px;
}

.view-more {
  color: #396df2;
  font-weight: 600px;
  font-size: 17px;
  background-color: #fff;
  border-radius: 8px;
  padding: 14px 10px;
  border: 2px solid #396df2;
}

form div .view-more {
  width: 142px;
  padding: 12px 12px;
}

.view-more:hover {
  background-color: #396df2;
  color: #fff;
}

.about-myself {
  background-color: #e5e5e5;
}

.about-myself-intro {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 0 50px 0 0;
}

.about-myself-skills {
  background-color: #fff;
}

.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.skill-name {
  font-weight: 600;
  font-size: 20px;
  color: #000;
}

.skill-name.fas {
  font-weight: 600;
  font-size: 20px;
  color: #acb7c3;
}

.sub-skills {
  display: flex;
  flex-direction: column;
}

.sub-skill {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f9;
  border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.sub-skill-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.sub-skill-name {
  font-weight: 600;
  font-size: 15px;
  color: #253858;
}

.my-form {
  padding-top: 10vh;
  padding-bottom: 1px;
  background-image: url("./images/contactbg.png");
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: right 21px;
  border-radius: 50px 0 0 0;
}

.contact-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.contact-explanation {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 90%;
  margin-bottom: 20px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px;
}

form textarea {
  width: 90%;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  padding: 15px;
  margin-bottom: 10px;
}

.go-home-bar {
  border: 5px solid black;
  border-radius: 5px;
  width: 30%;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 5px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #menu-icon {
    display: none;
  }

  a {
    text-decoration-line: none;
    color: #344563;
  }

  .container {
    padding-right: 10%;
    padding-left: 10%;
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-list > li {
    margin-left: 30px;
    list-style-type: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .menu-list > li > a:hover {
    color: #6070ff;
  }

  .hero-holder {
    background-color: #e5e5e5;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./images/desktop/herobg.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 95%;
    border-radius: 0 0 0 50px;
  }

  .greetings {
    color: #091e42;
    font-size: 48px;
    font-weight: 700;
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .about-me {
    font-weight: 400;
    font-size: 20px;
    color: #344563;
    text-decoration: none;
    line-height: 28px;
  }

  .hero > .container {
    padding-left: 15%;
    padding-right: 15%;
  }

  .icon-group li a i:hover {
    color: #6070ff;
    transform: scale(2);
    transition: ease 0.6s;
  }

  .cards {
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
  }

  .cards img {
    width: 50%;
    transition: width 2s, height 2s;
  }

  .cards img:hover {
    width: 55%;
    height: auto;
  }

  .cards img.swap {
    order: 1;
  }

  .card-data {
    padding-left: 20px;
  }

  h1.title {
    font-size: 40px;
    font-weight: 700;
    color: #172b4d;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 52px;
  }

  .position {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .position .place {
    font-weight: 600;
    font-size: 13px;
    color: #344563;
  }

  .position .post-name {
    font-weight: 600;
    font-size: 13px;
    color: #7a869a;
    padding-left: 20px;
  }

  .position .post-year {
    font-weight: 600;
    font-size: 13px;
    color: #7a869a;
    padding-left: 20px;
  }

  p.description {
    font-weight: 400px;
    font-size: 16px;
    color: #344563;
  }

  .about-myself {
    display: flex;
  }

  .about-myself-intro {
    width: 50%;
    border-radius: 0 0 0 0;
    padding-bottom: 10vh;
    padding-left: 5%;
  }

  .about-myself-skills {
    padding-top: 10vh;
    width: 50%;
    border-radius: 0 50px 0 0;
    padding-bottom: 10vh;
    padding-right: 5%;
  }

  .sub-skills {
    display: flex;
    flex-direction: row;
  }

  .sub-skill {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 10px;
  }

  .sub-skill-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .sub-skill-name {
    font-weight: 600;
    font-size: 15px;
    color: #253858;
    padding-top: 0;
  }

  .my-form {
    background-image: url("./images/desktop/contactbg.png");
    background-color: #6070ff;
    background-repeat: no-repeat;
    background-size: 90% 95%;
    padding-right: 30%;
    padding-left: 30%;
    padding-bottom: 10vh;
  }

  .contact-title {
    animation-duration: 3s;
    animation-name: slidein;
  }

  #center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .go-home-bar {
    display: none;
  }
}
